function Pell.pell 3

push argument 0
push constant 0
eq
if-goto PELL_ZERO

push argument 0
push constant 1
eq
if-goto PELL_ONE

push constant 2
pop local 0

push constant 0
pop local 1

push constant 1
pop local 2

label PELL_LOOP_START
push local 0
push argument 0
gt
if-goto PELL_OTHER

push local 1
push local 2
push local 2
add
add
push local 2
pop local 1
pop local 2

push local 0
push constant 1
add
pop local 0

goto PELL_LOOP_START

label PELL_LOOP_END

label PELL_ZERO
push constant 0
goto PELL_END

label PELL_ONE
push constant 1
goto PELL_END

label PELL_OTHER
push local 2

label PELL_END
return