function Sort.qsort 0
push argument 0
push constant 0
push argument 1
push constant 1
sub
call Sort.qsort_help 3
return
function Sort.qsort_help 4
push argument 1
push argument 2
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 0
add
pop pointer 1
push that 0
pop local 0
push argument 1
pop local 1
push argument 1
push constant 1
add
pop local 2
label WHILE_EXP0
push local 2
push argument 2
gt
not
not
if-goto WHILE_END0
push local 2
push argument 0
add
pop pointer 1
push that 0
push local 0
gt
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 1
add
pop local 1
push local 1
push argument 0
add
pop pointer 1
push that 0
pop local 3
push local 1
push argument 0
add
push local 2
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push argument 0
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push local 1
push argument 0
add
pop pointer 1
push that 0
pop local 3
push local 1
push argument 0
add
push argument 1
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 1
push argument 0
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 0
push argument 1
push local 1
push constant 1
sub
call Sort.qsort_help 3
pop argument 0
push argument 0
push local 1
push constant 1
add
push argument 2
call Sort.qsort_help 3
pop argument 0
label IF_FALSE0
push argument 0
return
